<mat-toolbar color="primary" style="padding: 20px;">
    <a routerLink="/" >{{appName}}</a>
    <span class="fill-remaining-space"></span>
    <a routerLink="/login" routerLinkActive="active" style="padding: 10px;">
        <button mat-button>Login</button>
    </a>
    <a routerLink="/admin" routerLinkActive="active" style="padding: 10px;">
        <button mat-button>Admin</button>
    </a>
    <a routerLink="/about" routerLinkActive="active" style="padding: 10px;">
        <button mat-button>About</button>
    </a>
</mat-toolbar>
